{% extends 'html/base.html' %}
{% block title %}profile{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 h-20 mt-4 card shadow-lg mx-1">
			<h3 class="p-2 bg-warning text-center text-light border rounded my-2">Info</h3>
			<div class="card-body">
				<h4>Hi {{user.username}}</h4>
				<div class="row">
					<div class="col">
						<a href="{% url 'dash' %}" class="form-control m-2 btn btn-info text-light">Back</a>
					</div>
					<div class="col">
						<a href="{% url 'upf' %}" class="form-control m-2 btn btn-secondary text-light">Update</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md mt-4 mb-3 card shadow-lg mx-1">
			<h3 class="p-2 bg-info text-center text-light border rounded my-2">User Details</h3>
			<table class="table table-borderless">
				<tr>
					<th>Username</th>
					<td>{{user.username}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<th>Age</th>
					<td>{{user.improfile.age}}</td>
				</tr>
				<tr>
					<th>Door-No</th>
					<td>{{user.improfile.Door-No}}</td>
				</tr>
				<tr>
					<th>Aadhaar no</th>
					<td>{{user.improfile.aadharno}}</td>
				</tr>
				<tr>
					<th>Contact no</th>
					<td>{{user.improfile.contactno}}</td>
				</tr>
				
			</table>
			
		
		</div>
	</div>
</div>
{% endblock %}