{% extends 'html/base.html' %}
{% block title %}Contact Details{% endblock %}
{% block content %}
<div class="card col-md-12 mt-3 mx-auto"><h3 class="p-3 bg-primary text-center
mt-3 border rounded">Contacts Details</h3>
	<table class="table table-borderless table-hover">
		<tr class="bg-dark text-light">
			<td>s.no</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>Email</td>
			<td>ContactNo</td>
			<td>Subject</td>
		</tr>
		{% for i in info %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{i.fname}}</td>
			<td>{{i.lname}}</td>
			<td>{{i.email}}</td>
			<td>{{i.contactno}}</td>
			<td>{{i.subject}}</td>
			<!-- <td><a href="">{{i.username}}</a></td> -->
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}