{% load static %}
<style>
.nav-bk4{
background: #070000;  
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  
background: linear-gradient(to right, #070000, #4C0001, #070000); 

}
</style>
<nav class="navbar navbar-expand-lg navbar-light nav-bk4">
  <div class="col-md-4"><a class="navbar-brand" href="{% url 'hm' %}">
    <h1 style="font-family:Verdana Bold; color:white;"><strong style="color:Red">C</strong>ivil <strong style="color:Red">P</strong>roblem <strong style="color:Red">R</strong>esolution</h1>
  </a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  

 <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ">
    {% if not user.is_authenticated %}
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}"><h3 style="color:Gold; font-family:Verdana Bold;">Home</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"><h3 style="color:Gold; font-family:Verdana Bold;">About</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}"><h3 style="color:Gold; font-family:Verdana Bold;">Contact Us</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'achievements' %}"><h3 style="color:Gold; font-family:Verdana Bold;">Achievements</h3></a>
    </li>
    
    <li></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ulog' %}"><h3 style="color:Gold; font-family:Verdana Bold;">Login Here</h3></a>
    </li>
    <li></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'reg' %}"><h3 style="color:Gold; font-family:Verdana Bold;">New User</h3></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="{% url 'alog' %}"><h3 style="color:Gold; font-family:Verdana Bold;">Admin Login</h3></a>
    </li> -->
    <div class="col-sm-2 mx-auto"><img src="{% static 'images/lion.png' %}" alt="lion" style="margin-left :100px;width:50px;height:50px;border-radius:50%;background-color:transparent;">
  <Strong style="font-family:Brush Script MT;color:aqua;font-size:25px;margin-left:100px">Orion</Strong>
  </div>
    {% else %}
      {% if user.is_superuser %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'dash' %}"><h6 style="color:Gold; font-family:Verdana Bold;">Home</h6></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'newmem' %}"><h6 style="color:Gold; font-family:Verdana Bold;">Add New Member</h6></a>
          </li>
          <li class="dropdown">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <h6 style="color:Gold; font-family:Verdana Bold;">Workers</h6>
              </a>
              <div class="dropdown-menu">
                <a class="nav-link" href="{% url 'addwork' %}"><h5 style="color:black; font-family:Verdana Bold;">Add Worker</h5></a>
                <a class="nav-link" href="{% url 'workview' %}"><h5 style="color:black; font-family:Verdana Bold;">View Worker</h5></a>
              </div>
        </li>
        <li class="dropdown">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <h6 style="color:Gold; font-family:Verdana Bold;">BlockManagers</h6>
              </a>
              <div class="dropdown-menu">
                <a class="nav-link" href="{% url 'addfm' %}"><h6 style="color:black; font-family:Verdana Bold;">Add BlockManagers</h5></a>
                <a class="nav-link" href="{% url 'fmview' %}"><h6 style="color:black; font-family:Verdana Bold;">View BlockManagers</h5></a>
              </div>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'userview' %}"><h6 style="color:Gold; font-family:Verdana Bold;">View Users</h6></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'memview' %}"><h6 style="color:Gold; font-family:Verdana Bold;">View Members</h6></a>
          </li>
          
          <li class="dropdown">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <h6 style="color:Gold; font-family:Verdana Bold;">Problems</h6>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'pns' %}"><h5 style="color:black; font-family:Verdana Bold;">Problems Not Solved</h5></a>
                <a class="dropdown-item" href="{% url 'pis' %}"><h5 style="color:black; font-family:Verdana Bold;">Problems in Progress</h5></a>
                <a class="dropdown-item" href="{% url 'ps' %}"><h5 style="color:black; font-family:Verdana Bold;">Problems Resolved</h5></a>
                <a class="dropdown-item" href="{% url 'allpro' %}"><h5 style="color:black; font-family:Verdana Bold;">View All Problems</h5></a>
              </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contview' %}"><h6 style="color:Gold; font-family:Verdana Bold;">View Contact</h6></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logo' %}"><h6 style="color:Gold; font-family:Verdana Bold;">Logout</h6></a>
        </li>
        <li class="nav-item" style="margin-left:70px">
            <a class="nav-link" href="#"><h4 style="color:Gold; font-family:Verdana Bold;">{{request.user.username}}</h4></a>
        </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dash' %}"><h5 style="color:Gold; font-family:Verdana Bold;">Home</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addpro' %}"><h5 style="color:Gold; font-family:Verdana Bold;">Add Problem</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addwork' %}"><h5 style="color:Gold; font-family:Verdana Bold;">Add Worker</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'memview' %}"><h5 style="color:Gold; font-family:Verdana Bold;">View Members</h5></a>
          </li>
          <li class="dropdown">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <h5 style="color:Gold; font-family:Verdana Bold;">View Problem</h5>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'pns' %}">Problem Not started</a>
                <a class="dropdown-item" href="{% url 'pis' %}">Problem Inprogress</a>
                <a class="dropdown-item" href="{% url 'ps' %}">Problem Solved</a>
                <a class="dropdown-item" href="{% url 'allpro' %}">View All Problem</a>
              </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'upf' %}"><h5 style="color:Gold; font-family:Verdana Bold;">Update Profile</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logo' %}"><h5 style="color:Gold; font-family:Verdana Bold;">Logout</h5></a>
        </li>
        <li class="nav-item" style="margin-left:100px">
            <a class="nav-link" href="#"><h5 style="color:Gold; font-family:Verdana Bold;">{{request.user.username}}</h5></a>
        </li>

      {% endif %}
{% endif %}
</ul>

</div>
</nav>