{% extends 'html/base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<div class="card col-md-9 mt-3 mx-auto"><h3 class="p-3 bg-primary text-center
mt-3 border rounded">USER DETAILS</h3>
	<table class="table table-borderless table-hover">
		<tr class="bg-dark text-light">
			<td>s.no</td>
			<td>Username</td>
			<td>Email</td>
			<td>View More</td>
			<td>Delete User</td>
		</tr>
		{% for i in d %}
		<tr>	
			{% if "admin" == i.username %}
			<td>{{forloop.counter}}</td>
			<td>{{i.username}}</td>
			<td>{{i.email}}</td>
			{% else %}
			<td>{{forloop.counter}}</td>
			<td>{{i.username}}</td>
			<td>{{i.email}}</td>
			<td><a class=" btn bg-primary rounded" href="{% url 'more' i.id %}">More Details</a></td>
			<td><a class="btn bg-danger rounded mx-1" href="{% url 'dlt' i.id%}">Delete</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}